
{% load static %}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  
    <head>

      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/sideBar.css'%}">
      <!-- Boxicons CDN Link -->
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!--
      <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
      <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
      -->
      {%block head%}
      {%endblock head%}

    </head>
    
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
          <div class="logo_name">Math Platform</div>
        <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class='bx bx-search' ></i>
          <input type="text" placeholder="Search...">
          <span class="tooltip">Search</span>
        </li>
        {% if student.is_staff %}
          <li>
            <a href="../../admin">
              <box-icon name='sitemap'></box-icon>
              <i class='bx bx-sitemap'></i>
              <span class="links_name">Admin Panel</span>
            </a>
            <span class="tooltip">Admin Panel</span>
          </li>
        {%endif%}
        <li>
          <a href="{%url 'dashboard' %}">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
        <a href="{%url 'editProfile' %}">
          <i class='bx bx-user' ></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-chat' ></i>
            <span class="links_name">Messages</span>
          </a>
          <span class="tooltip">Messages</span>
        </li>
        <li>
          <a href="{%url 'lectures' %}">
            <i class='bx bx-book-bookmark' ></i>
            <span class="links_name">Lectures</span>
          </a>
          <span class="tooltip">Lectures</span>
        </li>
        {% if not student.is_staff %}
          <li>
            <a href="{%url 'regesteredlectures' %}">
              <i class='bx bx-book-open' ></i>
              <span class="links_name">My Lectures</span>
            </a>
            <span class="tooltip">My Lectures</span>
          </li>
        {%endif%}
        <li>
          <a href="{%url 'contactus'  %}">
            <i class='bx bx-phone-call' ></i>
            <span class="links_name">Contact Us</span>
          </a>
          <span class="tooltip">Contact Us</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Saved</span>
          </a>
          <span class="tooltip">Saved</span>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
          <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
              <img src="{{student.profile_image.url}}" alt="profileImg">
              <div class="name_job">
                <div class="name">{{student.first_name|title}}</div>
                <div class="code">Code : <span id="hash">#</span><span id="id">{{student.id}}</span></div>
              </div>
            </div>
            <a href="{%url 'logout'%}">
              <i class='bx bx-log-out' id="log_out" ></i>
            </a>
        </li>
      </ul>
    </div>
    
    <div class=" upper-labbel"> 
      
    </div>  
    
    <section class="home-section">  
      {% block section %}     
      {% endblock section%}
    </section>
    <script src="{% static 'js/sideBar.js'%} " ></script>
  </body>
</html>
