@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.home-section{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background:linear-gradient(45deg,purple,blue);
}
.rate-container{
  position: relative;
  width: 400px;
  min-height: 500px;
  background: black;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
}
h1{
  margin-bottom: 5px;
  width: 250px;
  color: white;
  display: block;
}
.rate-container .post{
  display: none;
}
.rate-container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.rate-container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.rate-container .edit:hover{
  text-decoration: underline;
}
.rate-container .star-widget input{
  display: none;
  border-radius: 8px;
}
 .star-widget label{
  font-size: 40px;
  color: #444;
  margin-bottom: 20px;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ header:before{
  content: "I just hate it 😠";
}
#rate-2:checked ~ header:before{
  content: "I don't like it 😒";
}
#rate-3:checked ~ header:before{
  content: "It is awesome 😄 ";
}
#rate-4:checked ~ header:before{
  content: "I just like it 😎";
}
#rate-5:checked ~ header:before{
  content: "I just love it 😍 ";
}
/*.container form{
  display: none;
}*/
/*input:checked ~ form{
  display: block;
}*/
form header{
  width: 100%;
  font-size: 30px;
  color: #fe7;
  font-weight: 500;
  margin-bottom: 10px ;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  margin-top:30px;
  overflow: hidden;
}

 #username {
    width: 320px;
    height: 50px;
    display: block;
    color: #eee;
    border:  #333;
    padding: 10px;
    margin-top: 30px;
    background: #222;
    font-size: 17px;
  }
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  margin-bottom: 50px;
  resize: none;
  border-radius: 8px;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}
form .btn button:hover{
  background: #1b1b1b;
}