
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/adminDashboard.css'%}">
    <title>Admin Dashboard</title>
</head>

<body>
    
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>{{numberOfStudents}}</h1><!-- num of Students -->
                        <span>Students</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div> 
                <div class="card-single">
                    <div>
                        <h1>{{numberOfAdmins}}</h1><!-- num of Admins -->
                        <span>Admins</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>{{numberOfSubjects}}</h1><!-- num of Average Ratings -->
                        <span>Subjects</span>
                    </div>
                    <div>
                        <span class="las la-atom"></span>
                    </div>
                </div> 
                <div class="card-single">
                    <div>
                        <h1>{{averageRatings}}</h1><!-- num of Average Ratings -->
                        <span>Average Ratings</span>
                    </div>
                    <div>
                        <span class="las la-star"></span>
                    </div>
                </div>   
                <div class="card-single">
                    <div>
                        <h1>{{numberOfLectures}}</h1><!-- num of Lectures -->
                        <span>Lectures</span>
                    </div>
                    <div>
                        <span class="las la-book"></span>
                    </div>
                </div>    
                <div class="card-single">
                    <div>
                        <h1>{{numberOfFiles}}</h1><!-- num of Files -->
                        <span>Files</span>
                    </div>
                    <div>
                        <span class="las la-clipboard-list"></span>
                    </div>
                </div> 
                <div class="card-single">
                    <div>
                        <h1>{{dailyLogins}}</h1><!-- num of income -->
                        <span>Daily Logins</span>
                    </div>
                    <div>
                        <span class="las la-eye"></span>
                    </div>
                </div>      
            </div>

            <!-- Add graphs -->
            <div class="graphBox">

                <div class="box">
                    <canvas id="myChart_1">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
                <div class="box">
                    <canvas id="myChart_2">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
                <div class="box"> 
                    <canvas id="myChart_3">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
                <div class="box">
                    <canvas id="myChart_4">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
                <div class="box">
                    <canvas id="myChart_5">
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
            </div>

            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Recent Lectures</h3>
                            <a href="{% url 'lecturesTable'%}">
                                <button >See All<span class="las la-arrow-right"></span></button>
                            </a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive table-sortable">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th col-index = 1>Lecture Title</th>
                                            <th col-index = 2>Subject</th>
                                            <th col-index = 3>Education Level</th>
                                            <th col-index = 4>Number Of Registeration</th>
                                            <th col-index = 5>Creation Date</th>
                                            <th col-index = 6>Status</th>
                                        </tr>
                                    </thead>
    
                                    <tbody>

                                        {% with new_list=lectures|slice:":5" %}
                                            {% for lecture in new_list %}
                                                
                                                <tr>
                                                
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{lecture.title|title}}
                                                        </a>
                                                    </td>
                                                
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{lecture.branch|title}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}"> 
                                                            {{lecture.gradeLevel|title}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{lecture.getNumberOfRegistrations}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}"> 
                                                            {{lecture.creationTime}}
                                                        </a>
                                                    </td>
                                                
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {%if lecture.active%}
                                                                <span class="status green"></span>
                                                                Active
                                                            {%else%}
                                                                <span class="status red"></span>
                                                                Inactive
                                                            {%endif%}
                                                        </a>
                                                    </td>
                                                    
                                                </tr>
        
                                            {%endfor%}
                                        {%endwith%}
                                    </tbody>
    
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h3>New Students</h3>
                            <a href="{%url 'profileCards'%}">
                                <button>See All<span class="las la-arrow-right"></span></button>
                            </a>
                        </div>

                        <div class="card-body">
                            {% with new_list=students|slice:":5" %}
                                {% for user in new_list %}
                                    <a href="#">
                                        <div class="customer">
                                            <div class="info">
                                                <img src="{{user.profile_image.url}}" width="40px" height="40px" alt="">
                                                <div>
                                                    <h4>{{user.full_name}}</h4>
                                                    <small>ID : #{{user.id}}</small>
                                                </div>
                                            </div>
                                            <div class="contact">
                                                <span class="las la-user-circle"></span>
                                                <span class="las la-comment"></span>
                                                <span class="las la-phone"></span>
                                            </div>
                                        </div>
                                    </a>
                                {%endfor%}
                            {%endwith%}

                        </div>
                    </div>
                </div>

                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Top 5 Registerd Lectures</h3>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th col-index = 1>Rank</th>
                                            <th col-index = 2>Lecture Title</th>
                                            <th col-index = 3>Subject</th>
                                            <th col-index = 4>Education Level</th>
                                            <th col-index = 5>Number Of Registeration</th>
                                            <th col-index = 6>Creation Date</th>
                                            

                                        </tr>
                                    </thead>
    
                                    <tbody>

                                        {% with new_list=rankedData|slice:":5" %}
                                            {% for lecture in new_list %}
                                                
                                                <tr>
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{ forloop.counter }}
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{lecture.title|title}}
                                                        </a>
                                                    </td>
                                                
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{lecture.branch|title}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}"> 
                                                            {{lecture.gradeLevel|title}}
                                                        </a>
                                                    </td>
                                                    
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                            {{lecture.getNumberOfRegistrations}}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="{%url 'lecture' lecture_id=lecture.id%}"> 
                                                            {{lecture.creationTime}}
                                                        </a>
                                                    </td>
                                                
                                                    
                                                    
                                                </tr>
        
                                            {%endfor%}
                                        {%endwith%}
                                    </tbody>
    
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h3>System Ratings</h3>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th col-index = 1>Stars</th>
                                            <th col-index = 2>Ratings</th>
                                        </tr>
                                    </thead>
    
                                    <tbody>

                                        <tr>
                                            <td><i class="las la-star"></i></td>
                                            <td>{{star_1}}</td>
                                        </tr>
                                        <tr>
                                            <td><i class="las la-star"></i><i class="las la-star"></i></td>
                                            <td>{{star_2}}</td>
                                        </tr>
                                        <tr>                                      
                                            <td><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i></td>
                                            <td>{{star_3}}</td>
                                        </tr>
                                        <tr>                                        
                                            <td><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i></td>
                                            <td>{{star_4}}</td>
                                        </tr>
                                        <tr>                                        
                                            <td><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i><i class="las la-star"></i></td>
                                        
                                            <td>{{star_5}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Ratings</td>
                                        
                                            <td>{{totalRatings}}</td>
                                        </tr>

                                    </tbody>
    
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </main>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script>

        var hours = [];
        var text_hour;
        var hour;
        for (var i = 0; i < 24; i++) {
            hour = i;
            if(hour>12){
                hour = i - 12;
            }
        if (hour > 9) {
            text_hour = hour+':00';
        } else {
            text_hour = '0'+hour+':00';
        }
        if (i<12){
            text_hour += ' AM';
        }else{
            text_hour+= ' PM';
        }
        hours.push(text_hour);
        }

        console.log(hours)

        const ctx = document.getElementById('myChart_1').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Female' ,'Male'],
                datasets: [{
                    label: ['Female' ,'Male'],
                    data: {{chart_1}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                    display: true,
                    text: 'Gender Dounghnut Chart'
                    },
                },
            }
        });


        /*******************************************************************/

        const ctx2 = document.getElementById('myChart_2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: {{subjects|safe}},
                datasets: [{
                    label: 'Number of Students',
                    data: {{chart_2}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                    display: true,
                    text: 'Number of Students in each Subject'
                    },
                },
            }
        });


        /*******************************************************************/

        const ctx3 = document.getElementById('myChart_3').getContext('2d');
        const myChart3 = new Chart(ctx3, {
            type: 'polarArea',
            data: {
                labels: {{subjects|safe}},
                datasets: [{
                    label: 'Number of Files',
                    data: {{chart_3}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                    display: true,
                    text: 'Number of Files in each Subject'
                    },
                },
            }
        });


        /*******************************************************************/

        const ctx4 = document.getElementById('myChart_4').getContext('2d');
        const myChart4 = new Chart(ctx4, {
            
            data: {
                labels: hours,
                datasets: [
                    
                {%for level in levels%}
                {
                    type: 'line',
                    label: '{{level.levelFullName}}',
                    data: {{level.getDailyLoginData}},
                    backgroundColor: '{{level.color}}',
                    borderColor: '{{level.color}}',
                    fill:false,
                    tension:0.1,
                    
                },{%endfor%}]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        display: true,
                        title: {
                            display: true,
                            text: 'Logins'
                        }
                    },
                    x:{
                        display: true,
                        title: {
                            display: true,
                            text: 'Hours'
                        }
                    }
                },
                plugins: {
                    title: {
                    display: true,
                    text: 'Daily Login Activity of Users'
                    },
                },
                
            }
        });


        
        /*******************************************************************/

        const ctx5 = document.getElementById('myChart_5').getContext('2d');
        const myChart5 = new Chart(ctx5, {
            type: 'bar',
            data: {
                labels: ['5','4','3','2','1'],
                datasets: [{
                    label: 'Users\' Ratings',
                    data: {{chart_5}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        display: true,
                        title: {
                            display: true,
                            text: 'Stars'
                        }
                    },
                    x:{
                        display: true,
                        title: {
                            display: true,
                            text: 'Users'
                        }
                    }
                },
                plugins: {
                    title: {
                    display: true,
                    text: 'System Ratings'
                    },
                },
                indexAxis:'y',
            }
        });


        /*******************************************************************/


    </script>
    <script src="{%static 'js/sortingTable.js'%}"></script>

</body>

</html>