{%extends 'parts/sideBar.html'%}
{%load static%}

<html>
    {%block head%}
    <link rel="stylesheet" href="{%static 'css/lecturesTable.css'%}">
    {%endblock head%}
    {% block section %}     
        {% if student.is_superuser %}
        
            <div class="card">
                <div class="card-header">
                    <h3>Recent Lectures</h3>
                    
                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <table id="lecture-table" class="table table-sortable" width="100%">
                            <thead>
                                <tr>
                                    <th col-index = 1>Thumbnail</th>
                                    <th col-index = 2>Lecture Title</th>
                                    <th col-index = 3>Subject
                                        <select class="table-filter" onchange="filter_rows()">
                                            <option value="all"></option>
                                            {%for subject in subjects%}
                                                <option value="{{subject|title}}">{{subject.title|title}}</option>
                                            {%endfor%}
                                        </select>
                                    </th>
                                    <th col-index = 4>Education Level
                                        <select class="table-filter" onchange="filter_rows()">
                                            <option value="all"></option>
                                            {%for level in levels%}
                                                <option value="{{level.levelFullName|title}}">{{level.levelFullName}}</option>
                                            {%endfor%}
                                        </select>
                                    </th>
                                    <th col-index = 5>Number Of Registeration</th>
                                    <th col-index = 5>Number Of Files</th>
                                    <th col-index = 6>Creation Date</th>
                                    <th col-index = 7>Status
                                        <select class="table-filter" onchange="filter_rows()">
                                            <option value="all"></option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                
                                {% for lecture in lectures %}
                                    
                                    <tr>
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                <img src="{{lecture.image.url}}" width="60px" height="50px" alt="Thumbnail">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                {{lecture.title|title}}
                                            </a>
                                        </td>
                                    
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                {{lecture.branch|title}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}"> 
                                                {{lecture.gradeLevel|title}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                {{lecture.getNumberOfRegistrations}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                {{lecture.getNumberOfFiles}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}"> 
                                                {{lecture.creationTime}}
                                            </a>
                                        </td>
                                    
                                        <td>
                                            <a href="{%url 'lecture' lecture_id=lecture.id%}">
                                                {%if lecture.active%}
                                                    <span class="status green"></span>
                                                    Active
                                                {%else%}
                                                    <span class="status red"></span>
                                                    Inactive
                                                {%endif%}
                                            </a>
                                        </td>
                                        
                                    </tr>

                                {%endfor%}
                            
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
            <script>
                window.onload = () => {
                    console.log(document.querySelector("#lecture-table > tbody > tr:nth-child(1) > td:nth-child(2) ").innerHTML);
                };
        
                getUniqueValuesFromColumn()
                
            </script>
            <script src="{%static 'js/lectureTablefilter.js'%}"></script>
            <script src="{%static 'js/sortingTable.js'%}"></script>
        {% else %}
            {%include 'courses/error.html'%}
        {% endif %}
    {% endblock section%}
</html>