{%extends 'parts/navBar.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  {%block head%}
    <title>Registration Form</title>
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">

  {%endblock head%}
  
  {% block content%}
    
    <div class="signup-container">
      
      <div class="wrapper">
        {%if message %}
          <div class="alert {{alertType}}"> 
            {{message}}
            {%if alertType == "alert-success" %}
              <br>
              {{subMessage}}
              
            {%endif%}
          </div>
        {%endif%}
        <div class="form-title">
          Reset Password Form
        </div>
        <form action="{%url 'request-password'%}" method="POST" class="form">
          {% csrf_token %}
          
          <div class="inputfield">
            <label>
              Email Address
              <span>*</span>
            </label>
            <input type="email" name="email" placeholder="example@domain.com" class="input" required />
            <p id="email-error" class="error-message"></p>
          </div>  
          <div class="inputfield terms">
            <a href="{%url 'login'%}">
              <p>Already have an account ? .. Sign In</p>
            </a> 
          </div> 
          <div class="inputfield">
            <input type="submit" value="Submit" class="submit-btn" />
          </div>
          
        </form>
      </div>	
    </div>
    
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  {% endblock content%}
</html>