{%extends 'parts/navBar.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  {%block head%}
    <title>Registration Form</title>
    <link rel="stylesheet" href="{%static 'css/signup.css'%}">

  {%endblock head%}
  
  {% block content%}
    
    <div class="signup-container">
      
      <div class="wrapper">
        {%if message %}
          <div class="alert {{alertType}}"> 
            {{message}}
            {%if alertType == "alert-success" %}
              <br>
              {{subMessage}}
              
            {%endif%}
          </div>
        {%endif%}
        <div class="form-title">
          Reset Password Form
        </div>
        <form action="{%url 'reset-user-password' uidb64=uidb64 token=token %}" method="POST" class="form">
          {% csrf_token %}
          
          <div class="inputfield">
            <label>
              Email Address
              <span>*</span>
            </label>
            <input type="email" name="email" value="{{user.email}}" placeholder="example@domain.com" class="input" disabled />
            <p id="email-error" class="error-message"></p>
          </div>  
          <div class="inputfield">
            <label>
              Password
              <span>*</span>
            </label>
            <input type="password" name="password" class="input" minlength = 4 required />
            <span class="eye" onclick="revealPassword()">
              <i id="hide1"><ion-icon name="eye-outline"></ion-icon></i>
              <i id="hide2"><ion-icon name="eye-off-outline"></ion-icon></i>
            </span>
            <p id="password-error" class="error-message"></p>
          </div>  
          <div class="inputfield">
            <label>
              Confirm Password
              <span>*</span>
            </label>
            <input type="password" name="confirmPassword" class="input" minlength=4 required />
            <span class="eye" onclick="revealconfirmPassword()">
              <i id="hide3"><ion-icon name="eye-outline"></ion-icon></i>
              <i id="hide4"><ion-icon name="eye-off-outline"></ion-icon></i>
            </span>
            <p id="confirmPassword-error" class="error-message"></p>
          </div> 
          <div class="inputfield terms">
            <a href="{%url 'login'%}">
              <p>Already have an account ? .. Sign In</p>
            </a> 
          </div> 
          <div class="inputfield">
            <input type="submit" value="Submit" class="submit-btn" />
          </div>
          
        </form>
      </div>	
    </div>
    
    <script src="{% static 'js/reset-password.js'%}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  {% endblock content%}
</html>